// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Questions index

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;

    strong {
        display: block;
        font-size: 2em;
    }

    .votes,
    .answers {
        width: 60px;
        height: 60px;
    }

    .status {
        &.unanswered {
            border: none;
        }

        &.answered {
            border: 1px solid $green;
            color: $green;
        }

        &.answer-accepted {
            background-color: $green;
            color: $color-white;
        }

        .view {
            margin-top: 10px;
        }
    }
}
